
------------------------------------------CSS for Navbar Section--------------------------------------------------
/*
* Style tweaks  
Orange: #F58429
Blue: #2E3192
font-family: Algerian !important;
* --------------------------------------------------
*/
html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
    padding-top: 100px;
}
footer {
    padding: 30px 0;
}


body, input, textarea {
    font-family: ;
}

body {
    font-family:  !important;
}
/*
 * Custom styles
 */

 .logo_img{
        width: 130px;
    height: 60px;
    margin-top: -15px;
    margin-left: 0px;
}

.navbar-brand {
    font-size: 24px;
    color: #434242;
    background-color: #dae0e8;
}

.navbar-container {
    padding: 25px 0 25px 0;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
    color: #434242;
    background-color: #dae0e8;
}

.navbar-nav{
    font-size: 16px;
    margin-left: 50px;
    font-size: 16px;

}

ul li a{ color:#434242;
    background-color: #dae0e8;
}

.active a{ color: #434242;
    background-color: #dae0e8;
}
.navbar.navbar-fixed-top.fixed-theme {
    background-color: #dae0e8;
    border-color: #ee6d11;
    box-shadow: 0 0 5px rgba(0,0,0,.8);
}



.navbar-brand.fixed-theme {
    font-size: 18px;
}

.navbar-container.fixed-theme {
    padding: 0;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}



.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #434242;
    white-space: nowrap;
}



.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 0px 0; 
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #f39959;
    background-clip: padding-box;
    border: 1px solid #ee6d11;
    /* border: 1px solid rgba(0,0,0,.15);  */
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.dropdown-menu>li>a {
background-color: #F58429;

}
.show-on-hover:hover > ul.dropdown-menu {
    display: block;  
   background-color: #F58429;
}


.navbar-nav>li>a:hover {
    color: #434242;
    background-color: #F58429;
    line-height: 15px;
    border: 1px solid #ee6d11;
}


#navbar1{

    margin-top: -50px;
}

#navbar{

     margin-top: 10px;
}
-----------------------------------------CSS for Search-------------------------------------------------------------------

.header-search-span {
    float: right;
    width: 250px;
    display: inline-block;
}

.header-search {
    width: 20px;
    position: relative;
    float: left;
    margin-top: 15px;
}

    .header-search input {
        position: absolute;
        width: 0px;
        float:left;
        margin-left: -300px;

        -webkit-transition: all 0.7s ease-in-out;
        -moz-transition: all 0.7s ease-in-out;
        -o-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
        border-radius:0;
        padding: 0 2px 0 2px;
        background: transparent;
        border: 0;
        box-shadow: none;
    }

        .header-search:hover input, .header-search input:focus {
            width: 300px;
            margin-right: 0px;
            color: #333;
            font-weight: bold;
            background: #F58429;
             border: 1px solid #ee6d11;
        }
        
        .header-search input::placeholder {
             padding-left:30px;
            color: #333;
            font-weight: normal;
        }

.btn-srch {
    position: absolute;
    right: 0;
    border: 0;
    background: transparent;
}

a {
    color: #434242; 
    text-decoration: none;
}  


/*
.header-search-span {
    float: right;
    width: 250px;
    display: inline-block;
}

.header-search {
     width: 15px;
    position: relative;
    float: left;
    margin-top: 15px;
}

    .header-search input {
      
    position: absolute;
    width: 0px;
    float: right;
    margin-right: 121px;
        -webkit-transition: all 0.7s ease-in-out;
        -moz-transition: all 0.7s ease-in-out;
        -o-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
        border-radius:0;
        padding: 0 2px 0 2px;
        background: transparent;
        border: 0;
        box-shadow: none;
    }

        .header-search:hover input, .header-search input:focus {
            width: 100px;
            margin-left: 0px;
            color: #ffffff;
            font-weight: bold;
            background: #f39959;
        }


        
        .header-search input::placeholder {
           padding-left:30px;
            color: #ffffff;
            font-weight: normal;
        }

.btn-srch {
    position: absolute;
    right: 0;
    border: 0;
    background: transparent;
}


[role=button] {
    cursor: pointer;
}

a {
    color: #434242; 
    text-decoration: none;
}                                 */






-----------------------------------------------------------------------------------------------------------------------




.list-group {
  margin-right: 15px;
}



.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: #fff;
    background-color: #2E3192;
    border: 1px solid #373bae;

}
.list-group-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    color: #fff;
    
}


.list-group {
  margin-right: 15px;
}


--------------------------------------------------------------------------------------------------------------------------@media (min-width: 768px)

@media (min-width: 768px)
.navbar-nav {
    float: left;
    margin: 0;
}





-----------------------------------------------CSS for Footer Section------------------------------------------------------------------------

/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #ffffff;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #dae0e8 !important;
}
#footer h5{
        font-size: 20px;
    padding-left: 20px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#434242;
}
#footer a {
        margin-left: 15px;
    color: #f3eded;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
    padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
    font-size:25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}
#footer ul.social li:hover a i {
    font-size:30px;
    margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
    color:#434242;
}
#footer ul.social li a:hover{
    
}
#footer ul.quick-links li{
    padding: 3px 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}
#footer ul.quick-links li:hover{
    padding: 3px 0;
    margin-left:5px;
    font-weight:700;
}
#footer ul.quick-links li a i{
    margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}




@media (max-width:767px){
    #footer h5 {
    padding-left: 10px;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}


.list-unstyled {
    padding-left: 10px;
    list-style: none;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: 100px;

    width: 440px;
   
}


#news_heading{
 
 background-color:#eee;
    margin-left: 0px;
    margin-right: 10px;

}

 .glyphicon {
    position: relative;
    top: 0px;

}

}


.page-footer .row .legals-questions ul li + li {
    margin-left: 1em;
}
.page-footer .row .legals-questions ul li {
    font-size: 0.813em;
}
.page-footer .row .legals-questions ul li {
    display: inline-block;   
    list-style: none;
    margin-left: 0;
}




  .navbar-toggle .icon-bar {
    border:1px solid #2E3192;
}
--------------------------------------------CSS for Slider Section---------------------------------------------------------------------------
.jk-slider{
    width:100%;
}
/*          Hero Headers        */
/********************************/


.hero {
    position: absolute;
    top: 80%;
    left: 35%;
    z-index: 3;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
    -webkit-transform: translate3d(-50%,-50%,0);
    -moz-transform: translate3d(-50%,-50%,0);
    -ms-transform: translate3d(-50%,-50%,0);
    -o-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}


/* .hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}                      */


.hero h1 {
    font-size: 2em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}



/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .7;
}


.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 90%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}
---------------------------------------------------css for News Section-----------------------------------------------------------------------
.h2, h2 {
    padding: 10px;
    font-size: 30px;
}
.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color:#fff;
}

#news_heading{
 margin-left: 10px;
  margin-right: 10px;
 background-color:#eee;

}


.jumbotron .blog-box-content p {
    margin-bottom: 15px;
    font-size: 15px !important;
    font-weight: 200;
    text-align: justify;

    }

  .blog-box-content  p {
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 200;
    text-align: justify;

    }

     .blog-box-content p:hover { 

                       /* color:#2E3192;  */

                                }

.site-heading h3{
    font-size : 40px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 600;
}
.border {
    background: #2E3192;
    height: 2px;
    width: 165px;
    margin-left: 00px;
    margin-right: auto;
    margin-bottom: 25px;
}

.border1 {
    background: #2E3192;
    height: 2px;
    width: 250px;
    margin-left: 00px;
    margin-right: auto;
    margin-bottom: 25px;
}

/* Blog-CSS */
.blog-box {
    padding: 0 0px;
    transition: .5s;
    border: 1px solid #e2e2e2;
    margin-bottom: 30px;
}
.blog-box-content h4 a {
    font-size: 16px;
    padding: 0px 0 0px;
    text-transform: uppercase;
    color:#2E3192;
     text-decoration:none;
    
}
.blog-box-content h4 :hover {
     color:red;
    
}

.blog-box-content {
padding: 0 20px 20px;
}
.blog-box-text h4 a {
    color: #333;
}




----------------------------------------------CSS FOR COURSE-------------------------------------------------------------------------


.zoom {
  padding: 50px;
  background-color: none;
  transition: transform .2s;
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.0); /* IE 9 */
  -webkit-transform: scale(1.0); /* Safari 3-8 */
  transform: scale(1.1); 
}

.carousel-control {
  padding-top:10%;
  width:5%;

}


.carousel-inner  .active a {
    color: #fff;
    background-color:unset;
}


.carousel-control.right {
    right: 0;
    /* left: auto; */
}

.carousel-control {
    padding-top: 10%;
    width: 5%;
}

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 60px !important;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color:none !important;
    filter: alpha(opacity=50);
    opacity: .5;
}



.well {
    height: 366px;
    min-height: 20px;
    padding: 19px;
    /* margin-bottom: 20px; */
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
---------------------------------------------CSS for News Events--------------------------------------------------------------------------


/* Using panels to display blog date */
.panel.date {
    margin: 0px;
    width: 60px;
    text-align: center;
}

.panel.date .month {
    font-size: 10px;
    padding: 2px 0px;
    font-weight: 700;
    text-transform: uppercase;
}

.panel.date .day {
    padding: 3px 0px;
    font-weight: 700;
    font-size: 1.5em;
}


.panel{

    margin-right: 15px;

}


.panel-danger>.panel-heading {
     z-index: 2;
    color: #fff !important;
    background-color: #2E3192 !important;
    border-color: #373bae !important;
}


.text-danger {
    color: #00244d !important;
}


.panel-title {
    padding: 8px 50px 8px 8px;
    -ms-padding: 8px 50px 8px 8px;
  -webkit-padding: 8px 8px 8px 8px;
  -moz-padding: 8px 8px 8px 8px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}
-----------------------------------------------------CSS for Responcive------------------------------------------------------------------



.navbar-container {
    padding: 20px 0 20px 0;
}
@media (min-width: 1200px)
 {
   
}
@media (min-width: 992px)
 {
   
}
@media (min-width: 768px)
 {
  

.navbar2 .nav .navbar-nav {
    font-size: 14px;
    margin-right: 00px;
}



.navbar-toggle {
    margin-left: 288px;


     -ms-margin-left: 50px;
    -webkit-margin-left: 288px;
   -moz-margin-left: 50px;

    position: absolute;
    float: right;
    padding: 9px 10px;
    margin-right: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

}














-----------------------------------------------------CSS for Scroll------------------------------------------------------------------




.scroll-to-top {
    height: 55px;
    width: 55px;
    position: fixed;
    bottom: 5%;
    right: 5%;
    display: none;
    z-index: 99;
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
    background-color: #F58429;
    line-height: 70px;
}

.scroll-to-top .scroll-icon {
    font-size: 28px;
    color: #ffffff;
    display: inline-block;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}












------------------------------------------------CSS for Gallary-----------------------------------------------------------------------



.gal-container{
    padding: 12px;
}
.gal-item{
    overflow: hidden;
    padding: 3px;
}
.gal-item .box{
    height: 350px;
    overflow: hidden;
}
.box img{
    height: 100%;
    width: 100%;
    object-fit:cover;
    -o-object-fit:cover;
}
.gal-item a:focus{
    outline: none;
}
.gal-item a:after{
    content:"\e003";
    font-family: 'Glyphicons Halflings';
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    right: 3px;
    left: 3px;
    top: 3px;
    bottom: 3px;
    text-align: center;
    line-height: 350px;
    font-size: 30px;
    color: #fff;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.gal-item a:hover:after{
    opacity: 1;
}
.modal-open .gal-container .modal{
    background-color: rgba(0,0,0,0.4);
}
.modal-open .gal-item .modal-body{
    padding: 0px;
}
.modal-open .gal-item button.close{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #000;
    opacity: 1;
    color: #fff;
    z-index: 999;
    right: -12px;
    top: -12px;
    border-radius: 50%;
    font-size: 15px;
    border: 2px solid #fff;
    line-height: 25px;
    -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
}
.modal-open .gal-item button.close:focus{
    outline: none;
}
.modal-open .gal-item button.close span{
    position: relative;
    top: -3px;
    font-weight: lighter;
    text-shadow:none;
}
.gal-container .modal-dialogue{
    width: 80%;
}
.gal-container .description{
    position: relative;
    height: 40px;
    top: -40px;
    padding: 10px 25px;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    text-align: left;
}
.gal-container .description h4{
    margin:0px;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
}
.gal-container .modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 100px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.gal-container .modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
    opacity: 1;
}
@media (min-width: 768px) {
.gal-container .modal-dialog {
    width: 55%;
    margin: 50 auto;
}
}
@media (max-width: 768px) {
    .gal-container .modal-content{
        height:250px;
    }
}

------------------------------------------------------------------------------------


section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;
}

/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/

#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color:#2E3192;
  border: none;
  
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}

#fade-quote-carousel.carousel img{width:150px;}
--------------------------------------------------CSS for partner Logo-----------------------------------------------------------
  #testimonial{ height: 1000px;}


        h4 {
    font: normal 20px 'latosemibold';
    
}


        #testimonial .carousel-indicators {
    position: static;
    width: auto;
    display: block;
    text-align: center;
    margin: 30px auto 30px;
}
#testimonial blockquote {
    border: 0;
    padding: 80px 20px;
    margin: 0;
    color: #fff;
}
.caro_bg {
    background: url(Img/Oxford_skyline_2.jpg) no-repeat top fixed;
    text-align: center;
    position: relative;
    z-index: 2; background-size:cover
}
#testimonial .carousel-indicators .active, #testimonial .carousel-indicators li {
    text-indent: unset;
    width: auto;
    height: auto;
    margin: auto;
    position: relative
}
#testimonial .carousel-indicators .active:after {
    background: url() no-repeat center bottom;
    content: '';
    position: absolute;
    bottom: -38px;
    width: 49px;
    height: 28px;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
}
#testimonial blockquote p {
    position: relative;
    color:#fff;
}
#testimonial blockquote p:before {
    background: url(https://public.boxcloud.com/api/2.0/internal_files/280168437884/versions/294741218732/representations/png_paged_2048x2048/content/1.png?access_token=1!uMHQEcwYmtkUJYBdaqn_eiw5wf9jd4NpS2fCtEWqcRLVa2fDhGC2oHVpo10VhRvOnatYAukFSEgJILRAhjnWaxVhO27G6OUy7AuqgxnAo6fO_FnsyaWegYMAUGsLy60wFcQL38qofWX93K0QruHQnWsaVjfEi-oBQr7gKmAyX4LgZ_GRZ8iG_na3kjfKFw3KaV2bkqpuT-kRoUk5Zop3eA7hZPn4GqjzdHg03bsXUrlo2ckElzk1DS5hXlPWDWqSrVz96QbcIqmFxXErXyPr03eNeOsYQqciz_K7oFRzwrKUbjLHQ95u2Q7e7AJiFfQOLz7woe2DmguvheE39v4tDmmfFfTFrzqZN7zfMGZNNB8R448PV6iiqtgf1W8mbuo8hL2hZq8R7nzl7tw7&box_client_name=box-content-preview&box_client_version=1.28.1) no-repeat center bottom;
    content: '';
    position: absolute;
    width: 21px;
    height: 24px;
    left: -15px;
    top: -15px
}
#testimonial blockquote p:after {
    background: url(https://public.boxcloud.com/api/2.0/internal_files/280168213289/versions/294740963465/representations/png_paged_2048x2048/content/1.png?access_token=1!FlHyc_B6RG0kImYeq-TYHrBuMzFKkL0LsAWTvrEC_nf7O_qlu-pxPF0eX6ktt9z9W0qZMjElsQW5fO59usDMJW-ZbW4b2CL0zggMjsYdwbEOf_jZ_BorDejHCBXY4iBvXM5WgK2Y8iuXVhSSGQlmQjzhbpovXQyYxdpjz2LTouA1xhHFLSNAC2Brabhsyo-t8nsfhGlOgDb1IWCiqane8Yp7PhP-wKNDNDE8bqlVDzrUlcB0XK1sz9vmtaLuvN8T6Uha1Q7UZWOMjSHONGzh70t_xQyRDqhagLSAOmnTm8695hRfcEAEP3k_Oex7-GiTxoXLuF3IkVXFfPrRMHDsh3zO-sDazZKkvoB44nkZnX39tpJ_EmIunw04esaBfqUISVJBJbDVr8BgVAQC&box_client_name=box-content-preview&box_client_version=1.28.1) no-repeat center bottom;
    content: '';
    position: absolute;
    width: 21px;
    height: 24px;
    right: -15px;
    bottom: -15px
}

-----------------------------------CSS for Team Design Section -------------------------------------------------------


.team
{
    background-color: #00bcd4;
}

h1
{
    color:#fff;
    margin:40px 0 60px 0;
    font-weight:300;
}

.our-team-main
{
    width:100%;
    height:auto;
    border-bottom:5px #323233 solid;
    background:#fff;
    text-align:center;
    border-radius:10px;
    overflow:hidden;
    position:relative;
    transition:0.5s;
    margin-bottom:28px;
}


.our-team-main img
{
    border-radius:50%;
    margin-bottom:20px;
    width: 90px;
    height:100px;
}

.our-team-main h3
{
    font-size:20px;
    font-weight:700;
}

.our-team-main p
{
    margin-bottom:0;
}

.team-back
{
    width:100%;
    height:auto;
    position:absolute;
    top:0;
    left:0;
    padding:5px 15px 0 15px;
    text-align:left;
    background:#fff;
    
}

.team-front
{
    width:100%;
    height:auto;
    position:relative;
    z-index:10;
    background:#fff;
    padding:15px;
    bottom:0px;
    transition: all 0.5s ease;
}

.our-team-main:hover .team-front
{
    bottom:-200px;
    transition: all 0.5s ease;
}

.our-team-main:hover
{
    border-color:#777;
    transition:0.5s;
}


----------------------------CSS for News heading  -----------------------------------------------


